@import "./components.css";

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--cataraman);
}

.container {
  max-width: 1410px;
  margin: 0 auto;
}

#navbar {
  height: 90px;
}

.nasa-tour-logo {
  justify-content: center;
}

.nasa-tour-logo img {
  display: inline-block;
  width: 179px;
  height: 55px;
}

nav ul {
  justify-content: center;
  list-style-type: none;
  font-weight: 700;
  font-size: 16px;
}

nav ul li {
  margin-left: 20px;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: var(--fonts);
}

.navbar-info img {
  width: 24px;
  height: 24px;
}

.navbar-info li:nth-child(1) img,
.navbar-info li:nth-child(2) img {
  margin-right: 7px;
}

.navbar-info li:nth-child(3) img,
.navbar-info li:nth-child(4) img {
  margin-left: 5px;
}

.navbar-info ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-banner {
  background: url('../images/navbarbg.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.search-section {
  z-index: 1;
  height: 400px;
}

.search-section h1 {
  color: #fff;
  text-align: center;

  font-size: 56px;
  font-weight: 900;
}

#search-form {
  width: 536px;
}

#search-form .search-icon img {
  position: absolute;
  top: 12px;
  left: 15px;
  color: var(--secondary);
  width: 18.42px;
  height: 18.42px;
}

#search-form input {
  border: 0;
  border-radius: 30px;
  width: 100%;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.07);
  font-size: 18px;
  color: #666;
  padding: 16px 55px;
}

#search-form button {
  background-color: var(--secondary);
  border-radius: 30px;
  font-size: 18px;
  padding: 10px 23px;
  color: #fff;
  border: 0;
  position: absolute;
  top: 6px;
  right: 8px;

}

/* top-activities */
.top-activities-cards {
  margin-bottom: 80px;
}

.top-activities-card {
  min-width: 330px;
  min-height: 356px;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
}

.top-activities-card:last-child {
  margin-right: 0;
}

.top-activities-card .top-activities-info {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.top-activities-comment {
  align-items: flex-end;
}

.top-activities-card .top-activities-btn {
  background-color: var(--primaryDark);
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  font-family: var(--cataraman);
  margin-left: 20px;
  margin-bottom: 20px;
}

.top-activities-card .top-activities-prices {
  font-family: var(--poppins);
  font-weight: 700;
  color: #fff;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}

.top-activities-card .top-activities-prices .small-prices {
  font-size: 20px;
  text-decoration: line-through;
}

.top-activities-card .top-activities-prices .big-prices {
  font-size: 32px;
}

.top-activities-card h4 {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
  color: var(--fonts);
}

.top-activities-subinfo {
  justify-content: flex-start;
}

.top-activities-subinfo .hours,
.location {
  margin-left: 22px;
  font-size: 14px;
  color: var(--fonts);
}

.top-activities-subinfo .hours img,
.location img {
  margin-right: 10px;
}

/* Support */
#support {
  margin-bottom: 90px;
}

.support-banner {
  background: url(../images/supportBg.png) center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.support-cards {
  min-height: 300px;
}

.support-card {
  max-width: 450px;
  padding: 20px 10px;
  background-color: rgba(#014B6E, 0.6);
  border: 0;
  border-radius: 10px;
}

.support-card .support-info {
  color: #fff;
}

.support-card .support-info h3 {
  font-size: 22px;
  font-weight: 900;
  margin: 0;
}

.support-card .support-info p {
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.support-card img {
  max-width: 70px;
  max-height: 70px;
  margin-right: 18px;
  margin-left: 36px;
}

/* tours */
#tours {
  margin-bottom: 86px;
}

.tours .local-tours {
  margin-bottom: 65px;
}

.tours .local-tour {
  min-width: 258px;
  min-height: 338px;
}

.tours .local-tours .local-tour:last-child {
  margin-right: 0;
}

.tours .local-tour p {
  color: #fff;
  font-size: 22px;
  font-family: var(--poppins);
  font-weight: 700;
  justify-content: center;
}

.tour-benefits {
  margin-bottom: 60px;
}

.tour-benefit {
  max-width: 500px;
  min-height: 105px;
}

.tour-benefit .search-icon {
  background-color: #fff;
  min-width: 85px;
  min-height: 85px;
  padding: 10px 25px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
}

.tour-benefit .search-icon i {
  z-index: 100;
  font-size: 40px;
  color: var(--secondary);
  padding: 10px;
}

.tour-benefit .benefit-info {
  margin-left: 19px;
}

.tour-benefit h4 {
  color: var(--primaryDark);
  font-size: 22px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 6px;
}

.tour-benefit p {
  color: var(--primaryDark);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.near-tour-card {
  min-width: 330px;
  min-height: 350px;
}

.near-tour-card-content {
  background: linear-gradient(transparent 0%, #014B6EDB 86%);
  padding: 30px;
}



.near-tour-card-content p {
  font-family: var(--poppins);
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.near-tour-card .near-tours-btn {
  z-index: 1;
  color: var(--primaryDark);
  font-weight: 900;
  background: #fff;
}

/* Most Popular Tours */
#most-popular-tours {
  background: url(../images/mostPopularToursBG.png) no-repeat;
  width: 100%;
  background-size: 100% 972px;
  margin-bottom: 90px;
}

.most-popular-tours-cards {
  margin-bottom: 70px;
}

.most-popular-tours-card {
  max-width: 341px;
  min-height: 409px;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
}

.most-popular-tours-card .most-popular-tours-info {
  padding: 20px;
  height: 268px;
}

.most-popular-tours-card .most-popular-tours-info img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.most-popular-tours-comment {
  align-items: flex-end;
  padding: 15px;
  z-index: 999;
}

.most-popular-tours-card .popular-tours-btn {
  background-color: #fff;
  color: var(--primaryDark);
  font-size: 14px;
  font-weight: 900;
  font-family: var(--cataraman);
  margin-left: 20px;
  margin-bottom: 20px;
}

.most-popular-tours-card .popular-tours-prices {
  font-family: var(--poppins);
  font-weight: 700;
  color: #fff;
  justify-content: center;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}

.most-popular-tours-card .popular-tours-prices .small-prices {
  font-size: 20px;
  text-decoration: line-through;
}

.most-popular-tours-card .popular-tours-prices .big-prices {
  font-size: 32px;
}

.popular-tours-subinfo {
  display: flex;
  align-items: center;
}

.most-popular-tours-card h4 {
  font-size: 20px;
  margin: 0;
  padding-left: 20px;
  color: var(--fonts);
}

.popular-tours-subinfo .hours,
.location {
  margin-left: 22px;
  font-size: 14px;
  color: var(--fonts);
}

.popular-tours-subinfo .hours img,
.location img {
  margin-right: 10px;
}

#most-popular-tours .watch-video {
  width: 60%;
  height: 552px;
  justify-content: center;
}

.watch-video-info {
  align-items: center;
}

.watch-video h4 {
  font-weight: 700;
  font-size: 26px;
  color: var(--secondary);
  margin: 0;
  padding-bottom: 30px;
}

.watch-video p {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding-bottom: 35px;
}

/* Recent Blog&Articles */
#blogAndArticles {
  margin-bottom: 80px;
}

.blog-articles-cards {
  width: 100%;
}

.blog-articles-card {
  min-width: 330px;
  min-height: 240px;
}

.blog-articles-card-info {
  background: linear-gradient(transparent 0%, #014B6EDB 90%);
}

.blog-articles-card p {
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0;
}

/* Attraction Categories */
#top-attraction-categories {
  margin-top: 110px;
  background: #F7F7F7;
  background-size: 100% 313px;
  padding-bottom: 65px;
  padding-top: 50px;
  margin-bottom: 80px;
}
.regions-of-tours {
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.region {
  box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.07);
  background: #fff;
  height: 40px;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 27px;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.region-btn-left{
  justify-content: center;
  padding: 0 10px;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--primaryDark);
}

.region-btn-right{
  justify-content: center;
  padding: 0 19px;
  height: 100%;
  color: var(--fonts);
}

/* Collabrations */
#collaborations {
  margin-bottom: 75px;
}

.collabration {
  min-width: 210px;
  min-height: 85px;
  border-radius: 10px;
  padding: 14px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
}

.collabration img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Footer  */
#footer {
  background: url(../images/mostPopularToursBG.png) center center no-repeat;
  background-size: 100% 100%;
  background: linear-gradient(180deg, #096996 0%, #06415C 100%);
  padding: 48px 15px 30px;
}

.footer-top-left {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}
.footer-top-left .footer-logo {
  min-width: 234px;
  min-height: 73px;
}
.footer-top-left .footer-comment p {
  color: #fff;
  font-family: var(--poppins);
  font-size: 14px;
  line-height: 21px;
}

.footer-top-left .footer-top-left-images{
  display: flex;
  max-height: 107px;
  max-width: 150px;
}

.footer-top-left-images  img {
  margin-right: 22px;
}

.footer-top-right {
  width: 50%;
  align-items: flex-start;
}

.footer-top-right h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.footer-bottom {
  margin-top: 20px;
  justify-content: flex-end;
}

.footer-bottom .support-social-media i {
  font-size: 25px;
  color: #fff;
  margin-right: 10px;
}
.none-footer{
  font-size: 28px;
  justify-content: flex-start;
  margin-right: 24px;
}