@media screen and  (max-width:576px) {
    .container{
        max-width: 520px;
        margin: 0 auto;
    }
    #top-activities h2{
        font-size: 26px;
    }
    #nav-bar{
        padding-right: 30px;
    }
    nav .nav-bar-list,ul li:not(:first-child), ul span{
        display: none;
    }   
    .nav-bar-info img:last-child {
        display: flex;
    }
    .nav-bar-info img{
        width: 24px;
        height: 24px;
        margin-left: 30px;
    }
    .header-banner {
        background: url('../images/navbarbg.png')  no-repeat;
    }
    .header-banner  h1{
        font-size: 30px;
        
    }
    #top-activities h2{
        margin-top: 30px;
        margin-bottom: 17px;
        padding-left: 27px;
    }
    
    
}