@media screen and (max-width:1440px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
   /* #region MAİNPAGE */

#support .support-card {
    width: 30%;
}

.support-card .support-info h3 {
    font-size: 19px;
}

.support-card .support-info p {
    font-size: 12px;
    padding-top: 5px;
}

.blog-articles-cards .blog-articles-card-info p {
    font-size: 18px;
    padding-right: 10px;
}
        /* #endregion */
      /* #region TOURDETAİLS */
        /* #endregion */
}

@media screen and (max-width:1280px) {
    .container {
        max-width: 980px;
        margin: 0 auto;
    }
      /* #region MAİNPAGE */
      #navbar .nasa-tour-logo img {
        min-width: 120px;
        height: auto;
    }

    .navbar-menu {
        margin-right: 1px;
    }

    #navbar ul {
        padding-left: 5px;
        margin: 0;
    }

    #navbar ul li {
        margin: 0 2px;
    }

    .navbar-info img {
        width: 20px;
        height: 20px;
    }

    .navbar-info li:nth-child(1) img,
    .navbar-info li:nth-child(2) img {
        margin-right: 0;
    }

    .navbar-info li:nth-child(3) img,
    .navbar-info li:nth-child(4) img {
        margin-left: 0;
    }
    #search-form{
        width: 40%;
    }
    .search-section h1 {
        font-size: 45px;
    }
    .cards-grid-2, .cards-grid-3{
        display: grid;
    }

    .top-activities-card {
        min-width: 330px;
    }

    .support-cards {
        justify-content: space-between;
    }

    .support-card .support-info h3 {
        font-size: 16px;
        font-weight: 700;
    }

    .support-card .support-info p {
        font-size: 12px;
    }

    .support-card img {
        margin: 0;
    }

    .local-tours .local-tour {
        max-width: 330px;
    }

    .tour-benefit .search-icon i {
        justify-content: center;
        align-items: center;
    }


    .tour-benefit .benefit-info {
        margin: 0;
        padding-left: 5px;
    }

    .tour-benefit .benefit-info h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .tour-benefit .benefit-info p {
        font-size: 12px;
    }

    .near-tour-card {
        min-width: 330px;
    }

    #most-popular-tours .watch-video {
        width: 80%;
    }
    .watch-video{
       padding-top: 60px;
       max-height: 400px;
    }
    .watch-video-info h4 {
        font-size: 20px;
    }

    .watch-video-info p {
        font-size: 16px;
    }

    #blogAndArticles .blog-articles-card-info p {
        font-size: 16px;
        padding-right: 7px;
    }
    .collaborations{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .collabration{
        min-width: 210px;
    }
    .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-top-right h3 {
        font-size: 20px;
    }

    .footer-top-right {
        width: 80%;
    }

    .footer-top-left .footer-comment p {
        font-size: 12px;
    }

/* #endregion */
    /* #region TOURDETAİLS */

    
        /* #endregion */
}

@media only screen and (max-width:960px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 15px;
    }

    nav .nasa-tour-logo img {
        width: 153px;
        height: 47px;
    }

    .navbar-desktop {
       display: none;
    }

    .navbar-mobile {
        display: flex;
    }
    .navbar-mobile img:not(.sidemenu img){
        margin-left: 30px;
        cursor: pointer;
    }

    .header-banner {
        background: url('../images/navbarbg.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
    }
    .search-section h1 {
        font-size: 40px;
    }
    #search-form {
       min-width: 40%;
    }
    .section-header {
        font-size: 26px !important;
    }

    .section-header-light {
        font-size: 32px !important;
    }

    .cards-grid-2, .cards-grid-3 {
        display: flex;
    }

    .activities-cards .none-carousel {
        display: flex;
    }

    .support-banner {
        background: url(../images/supportBg.png) 28% bottom;
    }

    .support-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 65px 0;
    }
    .support-card {
        margin: 10px 0;
        min-width: 500px;
        min-height: 116px;
        justify-content: space-around;
    }

    .tours .local-tours {
        display: flex;
    }

    .tour-benefits {
        flex-direction: column;
    }

    .tour-benefit {
        min-width: 375px;
        min-height: 105px;
        padding: 10px 10px;
    }

    .tour-benefit h4 {
        font-size: 20px;
    }

    .tour-benefit p {
        font-size: 13px;
    }

    .near-tour-cards {
        display: flex !important;
    }
    #most-popular-tours{
        background-size: 100% 100%;
        padding-bottom: 45px;
    }
  
    .blog-articles-card {
        min-width: 330px;
    }

    .collabration {
        min-width: 210px;
    }

    #footer {
        min-height: auto;
    }

    #footer .footer-top {
        flex-direction: column;
        justify-content: center;
    }

    .footer-top-right {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .footer-bottom .support-social-media.resp-none {
        display: none;
    }

    #footer .none-footer {
        display: flex !important;
    }

    .carousel-btn {
        display: flex;
        z-index: 999;
    }
}
@media only screen and (max-width:768px) {
    .container {
        max-width: 560px;
        margin: 0 auto;
        padding: 0 15px;
    }

    nav .nasa-tour-logo img {
        width: 153px;
        height: 47px;
    }

    .navbar-desktop {
       display: none;
    }

    .navbar-mobile {
        display: flex;
    }
    .navbar-mobile img:not(.sidemenu img){
        margin-left: 30px;
        cursor: pointer;
    }

    .header-banner {
        background: url('../images/navbarbg.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
    }
    .search-section h1 {
        font-size: 30px;
    }
    #search-form {
        min-width: 360px;
    }
    .section-header {
        font-size: 26px !important;
    }

    .section-header-light {
        font-size: 32px !important;
    }
    .cards-grid-2, .cards-grid-3 {
        display: flex;
    }

    .activities-cards .none-carousel {
        display: flex;
    }

    .support-banner {
        background: url(../images/supportBg.png) 28% bottom;
    }

    .support-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 65px 0;
    }

 
    .support-card {
        margin: 10px 0;
        min-width: 355px;
        min-height: 116px;
        justify-content: space-around;
    }

    .tours .local-tours {
        display: flex;
    }

    .tour-benefits {
        flex-direction: column;
    }

    .tour-benefit {
        min-width: 375px;
        min-height: 105px;
        padding: 10px 10px;
    }

    .tour-benefit h4 {
        font-size: 20px;
    }

    .tour-benefit p {
        font-size: 13px;
    }

    .near-tour-cards {
        display: flex !important;
    }
    .support-card{
        max-width: 370px;
    }
    #most-popular-tours {
        background-size: 100% 100%;
    }
    .watch-video{
       min-width: 380px;
    }
 
    .watch-video.content-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .watch-video-info.content{
        position: relative;
    }
    .watch-video-info h4{
        padding-top: 20px;
    }
    .watch-video-info p{
        text-align: center;
    }
    .blog-articles-card {
        min-width: 330px;
    }

    .collabration {
        min-width: 210px;
    }

    #footer {
        min-height: auto;
    }

    #footer .footer-top {
        flex-direction: column;
        justify-content: center;
    }

    .footer-top-right {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .footer-bottom .support-social-media.resp-none {
        display: none;
    }

    #footer .none-footer {
        display: flex !important;
    }

    .carousel-btn {
        display: flex;
        z-index: 999;
    }
}